.workers {
  font-size: 13px;
}

.workers textarea {
  width: 250px;
  outline: 0;
  border: 1px solid #ddd;
  padding: 5px 5px;
}

.workers .worker-list {
  margin-top: 15px;
}

.workers .error {
  color: red;
  padding: 5px 0;
}

.employees {
  font-size: 13px;
}

.employees textarea {
  width: 250px;
  outline: 0;
  border: 1px solid #ddd;
  padding: 5px 5px;
}

.employees .employee-list {
  margin-top: 15px;
}

.employees .error {
  color: red;
  padding: 5px 0;
}
